body {
  margin: 0px;
}

.container {
  font-family: 'Raleway', sans-serif;
}

.indexcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
}

.paintpagecontainer{
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.navbar-seperator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar {
  background: black;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
  
}

.navbar a {
  text-decoration: none;
  list-style-type: none;
  color:white;
}

.navbar li {
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
}

.navbar h1 {
  color: white;
  text-align: center;
}

.main {
  flex: 1;
}

.main a {
  text-decoration: none;
}

.main h1 {
  margin: 1rem;
}

.indexsidebar {
  width: 15vw;
  height: 100%;
  padding: 2rem;
  background-color: #B05E00;
  color: white;
  font-family: 'Raleway', sans-serif;
  box-shadow: inset 0 0 0 0px black;
}

.indexsidebar a {
  color: white;
  text-decoration: none;
}

.indexsidebar ul {
  margin-top: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.indexsidebarmain {
  align-items: stretch;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  background-color: #B05E00;
  color: white;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 1px 1px black;
}

.indexsidebarmain a {
  color: white;
  text-decoration: none;
}

.indexsidebarmain ul {
  margin-top: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.indexmain {
  flex: 3;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.indexmain a {
  color: darkgoldenrod;
  text-decoration: none;
}

.toppaintsmain {
  flex: 3;
  background: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.toppaintsmain a {
  color: darkgoldenrod;
  text-decoration: none;
}

.paintsquare {
  flex-basis: calc(33.33%);
  background-color: darkgoldenrod;
  position: relative;
  margin: 0;
  box-shadow: 0 0 0 4px #2b2b2b;
}

.paintsquare a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.button {
  border: 4px;
  border-style: solid;
  box-shadow: 1px 1px black;
  background: none;
  padding: 2.5px;
  margin: 2.5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
}

.button:hover {
}

.button-paint-page {
  border: 4px;
  border-radius: 4px;
  border-style: solid;
  box-shadow: 1px 1px black;
  background: none;
  padding: 4px;
  margin: 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
}

.button-paint-page:hover {
}

.plaque {
  border-radius: 5px;
  box-shadow: 1px 1px black;
  background: none;
  padding: 0.8rem;
  margin: 0.8rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
}

.editplaque {
  border-radius: 5px;
  box-shadow: 1px 1px black;
  background: none;
  padding: 2rem;
  margin: 2rem 10rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
}

.inputstyler {
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  background-color: white;
}

.individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-bottom: -0.8rem;
}

.link:hover {
  color: #F44336;
}

.interiorlink:hover {
  color: white !important;
}

.fas.fa-brush {
  font-size: 2.9rem;
}

.fas.fa-circle {
  font-size: 0.7rem;
}

/* .bigmainstoppaints {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  margin-top: 0rem;
} */

.maintitle {
  text-align: center;
  font-size: 3rem;
  color: #B05E00;

}

.maintitle fas {
  font-size: 4rem;
}

.maintitle:hover {
  color: #F44336;
}

.bigmains {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  margin-top: 0rem;
}

.mainpage {
  justify-content: center;
  align-items: center;
  /* margin-left: 6.8rem; */
  font-size: 4rem;
  margin-top: 1rem;
  color: #B05E00;
}

.indexmaintext {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  color: #B05E00;
}

.aboutmaintext {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding-inline: 6rem;
  color: black;
  text-shadow: none;
}

.aboutcontainer {
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.aboutsidebar {
  align-items: stretch;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  width: 35vw;
  background-color: #B05E00;
  color: white;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 1px 1px black;
}

.aboutsidebar a {
  color: white;
  text-decoration: none;
}

.aboutsidebar ul {
  margin-top: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.testback {
  display: flex;
  justify-content: center;
}

.paint-grid {
  display: grid;
  grid-template-areas:
  'w1 w2 w2 w2 p3 p3 p3'
  'w3 p1 p1 p1 p2 p2 p2'
  'w3 p1 p1 p1 p2 p2 p2'
  'w4 p1 p1 p1 w5 w5 w6'
  'w4 p4 w7 w7 w8 w8 w8'
  'p5 p4 w9 w9 p6 p6 p6'
  'p5 wa p7 p7 p6 p6 p6'
  'p5 wa p8 wb p9 p9 p9'
  'wc wc p8 wb p9 p9 p9';

  grid-template-rows: repeat(9, 7.5vh);
  grid-template-columns: repeat(7, 5vw);
  gap: 0.35rem;
  background: #2b2b2b;
  padding: 0.7rem;
  justify-content: center;
  margin-block: 2.5%;
}

.paint-1 {
  grid-area: p1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-1 .button {
  opacity: 0;
  transition: opacity 0.3s;
}

.paint-1:hover .button {
  opacity: 1;
}


.paint-2 {
  grid-area: p2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-2 .button {
  opacity: 0;
  transition: opacity 0.3s;
}

.paint-2:hover .button {
  opacity: 1;
}

.paint-3 {
  grid-area: p3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-3 .button {
  opacity: 0;
  transition: opacity 0.3s;
}

.paint-3:hover .button {
  opacity: 1;
}

.paint-4 {
  grid-area: p4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-4 .button {
  opacity: 0;
  transition: opacity 0.3s;
  transform: rotate(90deg);
}

.paint-4:hover .button {
  opacity: 1;
}

.paint-5 {
  grid-area: p5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-5 .button {
  opacity: 0;
  transition: opacity 0.3s;
  transform: rotate(90deg);
}

.paint-5:hover .button {
  opacity: 1;
}

.paint-6 {
  grid-area: p6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-6 .button {
  opacity: 0;
  transition: opacity 0.3s;
}

.paint-6:hover .button {
  opacity: 1;
}

.paint-7 {
  grid-area: p7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-7 .button {
  opacity: 0;
  transition: opacity 0.3s;
}

.paint-7:hover .button {
  opacity: 1;
}

.paint-8 {
  grid-area: p8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-8 .button {
  opacity: 0;
  transition: opacity 0.3s;
  transform: rotate(90deg);
}

.paint-8:hover .button {
  opacity: 1;
}

.paint-9 {
  grid-area: p9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-9 .button {
  opacity: 0;
  transition: opacity 0.3s;

}

.paint-9:hover .button {
  opacity: 1;
}

.testwhite1 {
  grid-area: w1;
  background: white;
}

.testwhite2 {
  grid-area: w2;
  background: white;
}

.testwhite3 {
  grid-area: w3;
  background: black;
}

.testwhite4 {
  grid-area: w4;
  background: white;
}

.testwhite5 {
  grid-area: w5;
  background: white;
}

.testwhite6 {
  grid-area: w6;
  background: black;
}

.testwhite7 {
  grid-area: w7;
  background: black;
}

.testwhite8 {
  grid-area: w8;
  background: white;
}

.testwhite9 {
  grid-area: w9;
  background: white;
}

.testwhitea {
  grid-area: wa;
  background: white;
}

.testwhiteb {
  grid-area: wb;
  background: white;
}

.testwhitec {
  grid-area: wc;
  background: black;
}

