<head>
  <title>Paints</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  {{ fontawesome_html() }}
</head>
<div class="indexcontainer">
  <section class="indexsidebarmain">
    <ul>
      <li><a class="link" href="/"><i class="fas fa-circle"></i> Home</a></li>
      <br>
      <li><a class="link" href="/paints/new"><i class="fas fa-circle"></i> Add New Paint</a></li>
      <br>
      <li><a class="link" href="/paints"><i class="fas fa-circle"></i> View Top Paints</a></li>
      <br>
      <li><a class="link" href="/"><i class="fas fa-circle"></i> View All Paints</a></li>
      <br>
      <li><a class="link" href="/"><i class="fas fa-circle"></i> About</a></li>
      <br>
    </ul>

    </section>
    <section class="bigmains">
  <section class="maintitle">
    <h1><span class="fas fa-brush"></span> Paint Viewer</h1>
  </section>
<section class="mainpage">
  <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Piet_Mondriaan_-_03.jpg?20150102110155" alt="" height="300vh" width="auto">
</section>
</section>
</div> 
<!-- <div class="cont">
<div class="heads">Hello!</div>
</div> -->