<head>
  <title>New</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  {{ fontawesome_html() }}
</head>
{% extends "paints/navbar.html" %}

{% block content %}
<section class="about-page">
<h1>Version 2.0</h1>
<p>This was my first Python Project. I was drawn to the idea of creating something visually striking but previous experience with CSS had left me curious about how to create a modern looking website</p>
<p>Ultimately I was proud of my first effort and it was fun to look at but it didn't really live up to my hopes as it was a little busy on the screen.</p>
<p>After this I worked on JavaScript/React where I completed a group project in which I took the lead in design. I was proud of my efforts there too, as I had made something thematically fun but appearing more crisp than my first effort</p>
<p>Having used the work of Piet Mondrian on the main page I wondered if I could perhaps use that as a basis for refactoring the project. To do this I used my experience from the group project, brushed up on my practice of CSS grid and set to work.</p>
<p>Ultimately I've produced something which is perhaps less visually fun but more consistent, and in my subjective view more stylish.</p>
<p>Every page was changed, but the key alterations included installing the Piet Mondrian replica in my 'View Top Paints' section; changing the 'View All Paints' section to a flag design with rows of colour; Removing the stylised rounded buttons and general rounded aesthetic from the website in favour of hard angles as per the painting; re-arranging the paint view/new paints/edit paints pages to be more compact - the old pages looked more like a population by age/gender graph if your imagination can stretch that far, or indeed if you fancy cloning an older commit on main!</p>
<p>Finally I also altered the Home and About sections, the former to give a rough guide of how to use the website and the latter is what you're reading now.</p>
<p>I do feel there are improvements that could be made, particularly on this page by including pictures of the old website, but as of now I'm likely to focus on other projects. Simply working in the Python/Jinja tech stack for creating reactive apps is something that I'm less keen on since learning React, and whilst I enjoyed the concept of this website it's fairly simple by comparison to the ideas I have planned.</p>
<p>That said, I like it! I hope you did too, and it will always hold a special place for me as my first full stack app.</p>
{% endblock %}