<head>
  <title>Paints</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Raleway:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  {{ fontawesome_html() }}
</head>
<div class="container">
  {% extends "paints/navbar.html" %}
  {% block content %}
  <section class="toppaintsmain">
  {% for paint in paints %}
  <div class="paintsquare" style="background-color:{{paint.value}}">
    <a class="button" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a>
  </div>
{% endfor %}
{% endblock %}
  </section>
</div>