<head>
  <style>
    body {
      background-color: {{ paint.value }};
      color: {{ paint.offset_value }};
    }
  </style>
</head>
<body>
  {% extends "paints/navbar.html" %}

{% block content %}
<section class="container">
<div class="editplaque" style="text-align:center; background-color:{{paint.offset_value}}; color:{{paint.value}};">
  <div>
  <form action="/paints/{{ paint.id }}/edit" method="post">
    <label for="name">Name</label>
  </br>
    <input class="inputstyler" type="text" id="name" name="name" value="{{ paint.name }}" required>
  </div>
  <div>
    <label for="description">Description</label>
  </br>
    <input class="inputstyler" type="text" id="description" name="description" value="{{ paint.description }}">
  </div>
    <div class="button-group" style="margin-top: 1.5rem;">
      <div class="button1">
        <input style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="color" id="value-colour-picker" name="value-colour-picker" value="{{paint.value}}" required>
      </div>
      <div class="button2">
        <input style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="color" id="offset-value-colour-picker" name="offset-value-colour-picker" value="{{paint.offset_value}}" required>
      </div>
      <div class="button3">
        <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="submit" value="Submit">
      </div>
    </form>
    <div class="button4">
      <form action="{{paint.id}}/delete" method="POST">
        <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="submit" value="Delete">
      </form>
    </div>
  </div>
</div>
</section>
{% endblock %}
{% block styles %}
{% endblock %}
</body>