<head>
  <style>
    body {
      background-color: {{ paint.value }};
      color: {{ paint.offset_value }};
    }
  </style>
</head>
<body>
  
{% extends 'base.html' %}

{% block content %}
<div class="editplaque" style="text-align:center; background-color:{{paint.offset_value}}; color:{{paint.value}}; text-align:center;">
  <form action="/paints/{{ paint.id }}/edit" method="post">
    
    <label for="name">Name</label>
    <input class="inputstyler" type="text" id="name" name="name" value="{{ paint.name }}" required><br><br>
    <label for="description">Description</label>
    <input class="inputstyler" type="text" id="description" name="description" value="{{ paint.description }}"><br><br>
    <label for="value">Value</label>
    <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}}; padding:0rem" type="color" id="value-colour-picker" name="value-colour-picker" value="{{paint.value}}" required><br><br>
    <label for="offset_value">Offset Value</label>
    <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}}; padding:0rem" type="color" id="offset-value-colour-picker" name="offset-value-colour-picker" value="{{paint.offset_value}}"  required><br><br>
    <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="submit" value="Submit">
  </form>
  <form action="{{paint.id}}/delete" method="POST">
  <input class="button" style="background-color:{{paint.offset_value}}; color:{{paint.value}};" type="submit" value="Delete">
  </form>
  </div>
{% endblock %}
{% block styles %}
{% endblock %}
</body>