<head>
  <title>Paints</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Raleway:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">
  {{ fontawesome_html() }}
</head>
{% extends "paints/navbar.html" %}

{% block content %}
<section class="top-paints-main">
  <section class="paint-grid">
    <div class="testwhite1"></div>
    <div class="testwhite2"></div>

    {% for paint in paints %}
    {% if loop.index == 3 %}
      <div class="paint-3" style="background-color:{{ paint.value }}">
        <a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a>
      </div>
    {% endif %}
    {% endfor %}

    <div class="testwhite3"></div>

    {% for paint in paints %}
    {% if loop.index == 1 %}
      <div class="paint-1" style="background-color:{{ paint.value }}">
        <a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a>
      </div> 
    {% endif %}
    {% endfor %}

    {% for paint in paints %}
    {% if loop.index == 2 %}
      <div class="paint-2" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhite4"></div>
    <div class="testwhite5"></div>
    <div class="testwhite6"></div>

    {% for paint in paints %}
    {% if loop.index == 4 %}
      <div class="paint-4" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhite7"></div>
    <div class="testwhite8"></div>

    {% for paint in paints %}
    {% if loop.index == 5 %}
      <div class="paint-5" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhite9"></div>

    {% for paint in paints %}
    {% if loop.index == 6 %}
      <div class="paint-6" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhitea"></div>

    {% for paint in paints %}
    {% if loop.index == 7 %}
      <div class="paint-7" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    {% for paint in paints %}
    {% if loop.index == 8 %}
      <div class="paint-8" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhiteb"></div>

    {% for paint in paints %}
    {% if loop.index == 9 %}
      <div class="paint-9" style="background-color:{{ paint.value }}"><a class="button-paint" href="/paints/{{paint.id}}" style="color:{{paint.offset_value}}">{{paint.name}}</a></div>
    {% endif %}
    {% endfor %}

    <div class="testwhitec"></div>
    
  </section>
</section>
{% endblock %}

