<form action="/paints/new" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="description">Description</label>
  <input type="text" id="description" name="description"><br><br>
  <label for="value">Value</label>
  <input type="color" id="colour-picker" name="colour-picker">
  <!-- <input type="text" id="value" name="value" placeholder="#000000" pattern="#[a-zA-Z0-9]{6}" required><br><br> -->
  <input type="submit" value="Submit">
</form>