<head>
  <title>New</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  {{ fontawesome_html() }}
</head>
{% extends "paints/navbar.html" %}

{% block content %}
<section class="container">
  <form action="/paints/new" method="post">
  <div class="plaque" style="text-align:center; background-color:#ebac00; color:white;">
    <div>
    <label for="name">Name</label>
    <input class="inputstyler" type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="description">Description</label>
    <input class="inputstyler" type="text" id="description" name="description">
  </div>
  <div>
    <label for="value">Value</label>
    <input class="inputstyler" type="color" id="colour-picker" style="background:white;" name="colour-picker">
  </div>
  <div>
    <input class="button" style="color:white;" type="submit" value="Submit">
  </div>
  </div>
  </form>
</section>
</section>
</div> 
{% endblock %}
