<head>
  <style>
    body {
      background-color: {{ paint.value }};
      color: {{ paint.offset_value }};
    }
  </style>
</head>
<body>
  
{% extends 'base.html' %}

{% block content %}
  <h1>{{ paint.name }}</h1>
  <p>Description: {{ paint.description }}</p>
  <p>Value: {{ paint.value }}</p>
  <p>Offset Value: #{{ paint.offset_value }}</p>
  <a href="/paints/{{paint.id}}/edit">Edit Paint</a>
  <form action="{{paint.id}}/delete" method="POST">
  <input type="submit" value="Delete">
  </form>
{% endblock %}

{% block styles %}
{% endblock %}
</body>